@font-face {
    font-family: "Matteo";
    src: url("../fonts/Indian Type Foundry - Matteo*");
    src: url("../fonts/Indian Type Foundry - Matteo Semibold.otf") format("opentype");
    src: url("../fonts/Indian Type Foundry - Matteo.otf") format("opentype");
}

@font-face {
    font-family: "Matteo Bold";
    src: url("../fonts/Indian Type Foundry - Matteo Bold.otf") format("opentype");
}

@font-face {
    font-family: "Matteo Light";
    src: url("../fonts/Indian Type Foundry - Matteo Light.otf") format("opentype");
}

@font-face {
    font-family: "Matteo Medium";
    src: url("../fonts/Indian Type Foundry - Matteo Medium.otf") format("opentype");
}

@font-face {
    font-family: "Matteo Semibold";
    src: url("../fonts/Indian Type Foundry - Matteo Semibold.otf") format("opentype");
}

body {
    font-family: "Matteo";
    /* font-size: 1.5rem; */
    font-size: 1rem;
    line-height: 1.6;
}

a,
a:hover,
a:active,
a:focus,
a:disabled {
    text-decoration: none;
    color: #00d0c4;
}

.display-3.condensed {
    letter-spacing: -0.25rem;
    line-height: 4rem;
}

.display-5.condensed,
.display-6.condensed {
    letter-spacing: -0.1rem;
    line-height: 4.5rem;
}

.font-light {
    font-family: "Matteo Light";
}

.font-medium {
    font-family: "Matteo Medium";
}

.font-semibold {
    font-family: "Matteo Semibold";
}

.primary-background {
    background-color: #00d0be;
    color: #fff;
}

.secondary-background {
    background-color: #e0faf8;
    color: #00332a;
}

.dark-background {
    background-color: #336666;
    color: #fff;
}

.white-background {
    background-color: #fff;
    color: #00332a;
}

.mild-background {
    background-color: #b3f1ec;
    color: #00332a;
}

.font-weight-bold {
    font-family: "Matteo Bold";
}

.vh-full{
    min-height: 100vh;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/**
***Landing Page Specific 
**/
.hm .intro .input-group > .form-control,
.hm .newsletter .input-group > .form-control {
    padding: 25px 35px;
    font-size: 1.2rem;
    color: #04b1a4;
    background-color: #e0faf8;
    border-color: #70ded5;
}

.hm .intro .input-group > .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #00d0c1;
    opacity: 1; /* Firefox */
}

.hm .intro .input-group > .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #00d0c1;
}

.hm .intro .input-group > .form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #00d0c1;
}

.hm .vly-card {
    padding: 3.5em 1.3rem;
    border-radius: 1.5rem;
    border-color: #fff;
    min-height: 470px;
}

.hm .vly-card.active {
    padding: 3.5em 2.8rem;
    border-radius: 1.5rem;
    border-color: #fff;
    min-height: 510px;
    margin-top: -10px !important;
}

.hm .vly-card .card-title {
    font-size: 1.7rem;
    padding-bottom: 0.5rem;
}

.hm .vly-card .card-text {
    color: #336666;
    padding-bottom: 1.2rem;
    padding-top: 0.5rem;
    font-size: 1.1rem;
    line-height: 1.8;
}






.hm .wallet .card {
    color: initial;
}


.hm .wallet .card .card-header {
    background-color: #e0faf8;
    border-bottom: 1px solid #e0faf8;
}





.hm .list-group-item {
    border: transparent;
    background-color: transparent;
}

.hm .list-group-item:hover {
    background-color: transparent;
}

.hm .list-group-item .title {
    font-size: 1.6rem;
}

.hm .list-group-item .item-desc {
    font-size: 1.2rem;
    line-height: 1.8;
}

.hm .list-group-item .item-desc-lg {
    font-size: 2rem;
    line-height: 1.8;
}

.hm .list-group-item .item-desc a {
    color: #fff;
}


.hm .wallet .nav-pills .nav-link {
    margin: 0.5rem 1rem;
    padding: 0;
}

.hm .wallet .nav-pills .nav-link, 
.hm .wallet .nav-pills .show > .nav-link {
    color: #336666;
    background-color: #ffffff;
    font-weight: 800;
}

.hm .wallet .nav-pills .nav-link.active {
    border-radius: 0;
    border-bottom: 3px solid #61e6cd;
}

.hm .wallet .accordion .card {
    border: 0;
}

.hm .wallet .accordion .card .btn:focus, 
.hm .wallet .accordion .card .btn.focus {
    outline: 0;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
}

.hm .wallet .accordion .card .card-header {
    background-color: #fff;
}

.hm .wallet .accordion .card .card-header button {
    font-weight: 800;
    color: #336666;
}

.hm .wallet .accordion .card .card-header button span {
    margin-top: -0.25em;
}

.hm .wallet .list-group-item {
    color: #fff;
    background-color: transparent;
}

.hm .border-triange {
    background-color: #00d0be;
    position: relative;
    line-height: 0;
    max-width: 100vw;
    padding-top: 450px;
}

.hm .truncated {
    width: 98.9vw;
}

.hm .border-triange:before {
    border-top: 900px solid transparent;
    border-left: 98.9vw solid #fff;
    content: '';
}


.hm .online .nav-pills .nav-link, 
.hm .online .nav-pills .show > .nav-link {
    color: #336666;
    background-color: #ffffff;
    /* font-weight: 800; */
}

.hm .online .nav-pills .nav-link:hover, 
.hm .online .nav-pills .show > .nav-link:hover {
    font-weight: 800;
}

.hm .online .nav-pills .nav-link.active {
    color: #00d0be !important;
    font-weight: 800;
}

.hm .online .tab-content .content {    
    font-size: 1.1rem;
    line-height: 1.8;
    color: #336666;
    padding: 5px 0px 15px;
}

.hm .refer-info .card {
    padding: 30px 70px;
    border-radius: 10px;
}

.hm .refer-info .card p {
    font-size: 1.4rem;
}

.hm .footer ul li {
    display: block;
    margin: 8px auto;
}

.hm .footer ul li a {
    color: #336666;
}